<div class="testimonial">
  <p class="user-felt"><%= testimonial.user.username %> wrote... </p>
  <div class="header">
    <div class="testimonial-text">
      <%= testimonial.description %>
    </div>
  </div>
  <p> <span class="tagged-with">Tagged with:</span>
    <% testimonial.tags.each do |tag| %>
    <span class="tag"> <%= tag.description %> </span> &nbsp;
    <% end %>
  </p>


  <div class="footer-details">
    <div class="post-details">
      <p class='inline'>
        <span class="username">
          <% if testimonial.anonymous %>
          Anonymous
          <% else %>
          <%= testimonial.user.username %>
          <% end %>
        </span>
        felt
        <% if testimonial.positive %>
        safe
        <% else %>
        unsafe
        <% end %>
      </p>
      <p class='date-and-time'><%= testimonial.created_at.strftime("Posted %m/%d/%Y") %> </p>
      <% if user_signed_in? %>
        <% if current_user == testimonial.user %>
          <p class='date-and-time'>You posted this testimonial!</p>
        <% elsif testimonial.votes.find_by(user_id: current_user.id) != nil %>
          <p class='date-and-time'>You said 'Me Too!'</p>
        <% end %>
      <% end %>
    </div>

    <div class="vote-container">
      <div class="vote-button-and-count">
        <%= render partial: "testimonials/vote", locals: {testimonial: testimonial} %>
        <span class="vote-count"><%= testimonial.votes.count %></span>
      </div>
      <div class="vote-error"></div>
    </div>
  </div>
</div>
