<div class="search-area search-container">
  <%= form_tag search_businesses_path, method: :get, class: "search-bar" do %>
    <div class="field business-container ">
      <%= text_field_tag 'search[term]', nil, placeholder: 'Enter search term...', class: "business-field input" %>
    </div>
    <div class="field city-container">
      <%= text_field_tag 'search[location]', nil, placeholder: 'Enter search term...', class: "city-field input" %>
    </div>
    <%= submit_tag 'Search', class: "search-button" %>
  <% end %>
</div>

<% if @businesses %>
  <div class="business-list-div">
    <h2 class="business-header">Businesses</h2>
    <ul class="business-list">
      <% @businesses.each do |business| %>
        <li class="business">
          <div class="content">
            <div class="business-photo">
              <img src="<%= business['image_url'] %>" width="150">
            </div>
            <% categories = [] %>
            <% business['categories'].each do |category| %>
              <% categories << category["title"] %>
            <% end %>
            <div class="index-details">
              <p class="name"><%= link_to business["name"], "/businesses/#{business['id']}" %></p>
              <p class="list-item"><%= categories.join(", ") %></p>
              <p class="phone list-item"><%= business["display_phone"] %></p>
              <p class="list-item"><%= business["location"]["display_address"].join(", ") %></p>
            </div>
          </div>
          <%= render partial: 'doodad', locals: {business: business} %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
