<% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="search-area search-container">
  <%= form_tag search_businesses_path, method: :get, class: "search-bar" do %>
    <div class="field business-container ">
      <%= image_tag("search-icon.png", :class => 'search-icon') %>
      <%= text_field_tag 'search[term]', nil, placeholder: 'Enter search term...', class: "business-field input" %>
    </div>
    <div class="field city-container">
      <%= text_field_tag 'search[location]', value = session[:user_location], html: {placeholder: 'Enter city...' }, class: "city-field input" %>
    </div>
    <%= submit_tag 'Search', class: "search-button" %>
  <% end %>
</div>

<% if @businesses %>
  <div class="business-list-div">
    <h2 class="business-header">Businesses</h2>
    <ul class="business-list">
      <% @businesses.each do |business| %>
        <li class="business">
          <div class="content">
            <div class="business-photo">
              <img src="<%= business['image_url'] %>" width="150">
            </div>
            <% categories = [] %>
            <% business['categories'].each do |category| %>
              <% categories << category["title"] %>
            <% end %>
            <div class="index-details">
              <p class="name"><%= link_to business["name"], "/businesses/#{business['id']}" %></p>
              <p class="list-item"><%= categories.join(", ") %></p>
              <p class="phone list-item"><%= business["display_phone"] %></p>
              <p class="list-item"><%= business["location"]["display_address"].join(", ") %></p>
            </div>
          </div>
          <%= render partial: 'doodad', locals: {business: business} %>
        </li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="mission">
    <h2>At BattleCry, it is our mission...</h2>
    <p>to provide a platform for consumers to leave positive or constructive feedback. We aim to keep the focus on emotional safety and, as we realize that this can delve into some gray areas, we ultimately leave it up to our users to define what a 'safe' or 'unsafe' environment means to them. We assert that no battle cry be left unheard and wholeheartedly believe that each voice is as valuable as the next. Please join us in making the consumer market a kinder, more accessible place for all.</p>
    <p>Interested in learning more about our vision? <a href="/about">Click here!</a></p>
  </div>
  <% end %>
