<% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="search-area search-container">
  <%= form_tag search_businesses_path, method: :get, class: "search-bar" do %>
    <div class="field business-container ">
      <%= image_tag("https://dl.dropboxusercontent.com/s/cry6u1bkw9895pu/search-icon.png?dl=0", :class => 'search-icon') %>
      <%= text_field_tag 'search[term]', nil, placeholder: 'Search for a business...', class: "business-field input" %>
    </div>
    <div class="field city-container">
      <%= text_field_tag 'search[location]', value = session[:user_location], html: {placeholder: 'Enter city...' }, class: "city-field input" %>
    </div>
    <%= submit_tag 'Search', class: "search-button" %>
  <% end %>
</div>

<% if @businesses %>
  <div class="business-list-div">
    <h2 class="business-header">Search Results</h2>
    <ul class="business-list">
      <% @businesses.each do |business| %>
        <li class="business">
          <div class="content">
            <% categories = [] %>
            <% business['categories'].each do |category| %>
              <% categories << category["title"] %>
            <% end %>
            <div class="index-details">
              <p class="name"><%= link_to business["name"], "/businesses/#{business['id']}" %></p>
              <p class="list-item"><%= categories.join(", ") %></p>
              <p class="phone list-item"><%= business["display_phone"] %></p>
              <p class="list-item"><%= business["location"]["display_address"].join(", ") %></p>
            </div>
          </div>
          <%= render partial: 'doodad', locals: {business: business} %>
        </li>
      <% end %>
    </ul>
    <form class="offset-info" action="/businesses/offset" method="get">
      <input type="hidden" name="search[term]" value= "<%= params[:search][:term] %>" >
      <input type="hidden" name="search[location]" value= "<%= params[:search][:location] %>">
      <input type="hidden" name="search[offset]" value=" <%= @offset %> ">
      <input class='submit' type="submit" name="" value="Not what you were looking for? See more">
    </form>
  </div>
<% end %>
