<div class="search-area">

  <%= form_tag search_businesses_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag 'search[term]' %>
    <%= text_field_tag 'search[location]' %>
    <%= submit_tag 'search' %>
  <% end %>
</div>

<% if @businesses %>
  <div class="business-list-div">
    <h2 class="business-header">Businesses</h2>
    <ul class="business-list">
      <% @businesses.each do |business| %>
      <%= render partial: 'doodad', locals: {business: business} %>
        <li class="business">
          <p><span class="name"><%= link_to business["name"], "/businesses/show/#{business['id']}" %></span><span class="phone"><%= business["display_phone"] %></span><%= business["location"]["display_address"].join(" ") %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
