<div class="search-area">

  <%= form_tag search_businesses_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag 'search[term]' %>
    <%= text_field_tag 'search[location]' %>
    <%= submit_tag 'search' %>
  <% end %>
</div>

<% if @businesses %>
  <div class="business-list-div">
    <h2 class="business-header">Businesses</h2>
    <ul class="business-list">
      <% @businesses.each do |business| %>
        <li class="business">
          <div class="content">
            <div class="business-photo">
              <img src="<%= business['image_url'] %>" width="150">
            </div>
            <% categories = [] %>
            <% business['categories'].each do |category| %>
              <% categories << category["title"] %>
            <% end %>
            <div class="index-details">
              <p class="name list-item"><%= link_to business["name"], "/businesses/#{business['id']}" %></p>
              <p class="list-item"><%= categories.join(", ") %></p>
              <p class="phone list-item"><%= business["display_phone"] %></p>
              <p class="list-item"><%= business["location"]["display_address"].join(", ") %></p>
            </div>
          </div>
          <%= render partial: 'doodad', locals: {business: business} %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
