
<div class="business-overview">
  <div class="business-overview-left">
    <h1 class="business-name"> <%= @business.name %> </h1>
    <%= render partial: 'businesses/testimonial_summary', locals: {business: @business} %>
  </div>
    <div class="business-overview-right">
      <div class="business-photo">
        <%= image_tag "placehold.gif" %>
      </div>
      <%= render partial: 'businesses/details', locals: {business: @business} %>
    </div>
  </div>

    <div class="testimonial-form">
      <% if @testimonial.errors.any? %>
        <%= render partial: '/errors', locals: { obj: @testimonial } %>
      <% end %>
      <%= render partial: 'testimonials/new', locals: { testimonial: @testimonial, business: @business } %>
    </div>

    <div class="testimonial-list">
      <% if @testimonials.empty? %>
        No one has written a testimonial yet
      <% else %>
        <% @testimonials.each do |testimonial| %>
          <%= render partial: 'businesses/testimonial', locals: {testimonial: testimonial } %>
          <% end %>
      <% end %>
    </div>
