<div class="business-overview">
  <h1 class="business-name"> <%= @business['name'] %> </h1>
  <div class="upper-section">

    <div class="business-overview-left">
      <div class="charts">
        <div class="google-chart">
          <% if @testimonials.length > 1 %>
            <%= render partial: 'loading_gif' %>
            <div style="display:none" id="donutchart"></div>
          <% else %>
            <p class="no-testimonials">This business doesn't have enough data to display tags.</p>
          <% end %>
        </div>
        <div class="show-doodad">
          <%= render partial: 'doodad', locals: {business: @business} %>
        </div>
      </div>
    </div>

    <div class="business-overview-right">
      <h4 class="details-header">Business Details</h4>
      <div class="business-images">
        <iframe class="map-frame" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOG_MAP_KEY'] %>&q=<%= @business['name'] %>, <%= @business['location']['display_address'] %>" ></iframe>
      </div>
      <%= render partial: 'businesses/details', locals: {business: @business} %>
    </div>
  </div>

  <div class="testimonials-show-container">
    <div class="top-testimonials">
      <% if @positive_testimonial && @negative_testimonial %>
        <div class="positive-testimonial">
          <% if @positive_testimonial.votes.count == 0 %>
          <% else %>
          <p class="top-testimonial-header">Most Supported Positive Feedback</p>
            <%= render partial: 'businesses/testimonial', locals: {testimonial: @positive_testimonial } %>
          <% end %>
        </div>
        <div class="negative_testimonial">
          <% if @negative_testimonial.votes.count == 0 %>
          <% else %>
            <p class="top-testimonial-header">Most Supported Constructive Feedback</p>
            <%= render partial: 'businesses/testimonial', locals: {testimonial: @negative_testimonial } %>
          <% end %>
        </div>
        <% end %>
    </div>

    <div class="testimonial-form">
      <% if user_signed_in? %>
        <%= render partial: 'testimonials/new', locals: { testimonial: @testimonial, business: @business } %>
      <% else %>
        <p>Do you have an experience to share? Please <a href="/users/sign_in">login</a>!</p>
      <% end %>
    </div>

    <h3>Testimonials</h3>
    <div class="testimonial-list">
      <% if @testimonials.empty? %>
        <p class="no-testimonials">No one has written a testimonial yet.</p>
        <p class="no-testimonials">Be the first to share your experience!</p>
      <% else %>
        <% @testimonials.each do |testimonial| %>
          <%= render partial: 'businesses/testimonial', locals: {testimonial: testimonial } %>
          <% end %>
      <% end %>
    </div>
  </div>
  <p hidden class="yelp_id"><%= @tag_counts %></p>
</div>
