<!DOCTYPE html>
<html>
  <head>
    <title>EffectiveSuccatash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav id="nav-bar">
        <ul>
          <li id="nav-logo"><a href="/"><%= image_tag("Mockingjay-logo.png", :alt =>"MyKindofSpace", :class =>'image-hieght') %></a></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li class="nav-item"><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="container">

    <%= yield %>

    </div>

    <!-- Devise uses this for flash and notice alerts -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>

</html>
